extends ./layout/layout

block head
    title ZuraaaNatal - Erro

block body
    .text-white.text-center(style="margin-top: 250px;")
        h4 #{message}
        a.mt-5.btn.btn-danger(href="/") Voltar ao início