extends ./layout/layout

block head
    title Zuraaa Natal! Ho, Ho, Ho!
    

block body
    .text-center.text-white(style="margin-top: 200px;")
        if (userSession)
            img.rounded-circle(src=`https://cdn.discordapp.com/avatars/${userSession.id}/${userSession.avatar}`)
            p.mt-1 #{userSession.username}##{userSession.discriminator}

            .mt-5
                if (canReward)
                    a.btn.btn-danger(href="/reward") Resgatar presente
                else
                    h5 Parece que você já resgatou seu presente de natal
        else
            h2 Você precisa logar para receber seu presente.
            a.btn.btn-danger(href="/oauth2/login") Logar com o discord